[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "20.7"
requests = "2.31.0"
transmission-rpc = "7.0.3"
prettytable = "3.9.0"
python-dotenv = "1.0.0"
loguru = "0.7.2"
logtail-python = "0.2.7"

[dev-packages]
autopep8 = "2.0.4"
pytest = "7.4.3"
flake8 = "6.1.0"
pytest-cov = "4.1.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[scripts]
build = "docker build . -t torrent-watcher"
start = "docker run -d -v ./data:/usr/data -v ./logs:/usr/logs --name torrent-watcher --restart unless-stopped torrent-watcher"
