[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
requests = "*"
transmission-rpc = "*"
prettytable = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
flake8 = "*"


[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[scripts]
build = "docker build . -t torrent-watcher"
start = "docker run -d -v ./data:/usr/data --name torrent-watcher --restart unless-stopped torrent-watcher"
